.vscode
__pycache__
.pytest_cache
.mypy_cache
*.pyc
.cache
.env
test.out
*.nc
*profile*
*.gif
/figures

# latex files
*.sty
latexmkjarc
latexmkrc
*.xdy
*.bat
*.ist
*.cls
*.xdy
*.aux
*.idx
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.log
*.out
*.tex
*.toc
*.toctree
*.doctree
*.pickle

runs/
docs/build/

*.dat
.pylintrc